<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Edit Products</title>
    <style>
        .dataTables_length {
            float: left;
        }
    </style>
</head>
<body>

<div layout:fragment="menu">
    <ul>
        <li class="">
            <a th:href="@{/}">
                <span><i class="ri-dashboard-fill"></i></span>
                <span class="nav-text">Dashboard</span>
            </a>
        </li>
        <li class="active">
            <a th:href="@{/products}">
                <span><i class="ri-archive-drawer-fill"></i></span>
                <span class="nav-text">Products</span>
            </a>
        </li>
        <li class="">
            <a th:href="@{/categories}">
                <span><i class="ri-node-tree"></i></span>
                <span class="nav-text">Product Categories</span>
            </a>
        </li>
        <li class="">
            <a th:href="@{/users}">
                <span><i class="ri-user-fill"></i></span>
                <span class="nav-text">Users</span>
            </a>
        </li>
        <li class="logout">
            <form id="formLogout" th:action="@{/logout?logout}" method="post">
                <a href="#" id="submitLogout">
                    <span><i class="ri-logout-circle-line"></i></span>
                    <span class="nav-text">Signout</span>
                </a>
            </form>
        </li>
    </ul>
</div>
<div layout:fragment="content">
    <div>
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <h1>Edit Product</h1>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <form class="m-2" th:action="@{/products/{id} (id=${product.id})}" method="post"
                              th:object="${product}">
                            <div class="mb-3">
                                <label for="inputId" class="form-label">ID Number</label>
                                <input type="text" class="form-control" id="inputId" th:field="*{id}"
                                       required disabled>
                            </div>
                            <div class="mb-3">
                                <label for="inputName" class="form-label">Product Name</label>
                                <input type="text" class="form-control" id="inputName"
                                       th:field="*{name}" required>
                            </div>
                            <div class="mb-3">
                                <label for="inputProdNumb" class="form-label">Product Number</label>
                                <input type="number" class="form-control" id="inputProdNumb"
                                       th:field="*{product_numb}" required>
                            </div>
                            <div class="mb-3">
                                <label for="inputCategory" class="form-label">Product Category</label>
                                <select id="inputCategory" th:field="*{category}" name="category"
                                        class="form-select" aria-label="Select Category">
                                    <option th:each="category: ${listCategories}"
                                            th:text="${category.name}" th:value="${category.name}">Category
                                    </option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="inputStock" class="form-label">Stock</label>
                                <input type="number" class="form-control" id="inputStock"
                                       th:field="*{stock}" required>
                            </div>
                            <div class="mb-3">
                                <label for="inputImage" class="form-label">Link Image</label>
                                <input type="text" class="form-control" id="inputImage"
                                       th:field="*{image}" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a th:href="@{/products}" class="btn btn-danger">Cancel</a>
                        </form>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
