<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Home</title>
</head>
<body>

<div layout:fragment="menu">
    <ul>
        <li class="active">
            <a th:href="@{/}">
                <span><i class="ri-dashboard-fill"></i></span>
                <span class="nav-text">Dashboard</span>
            </a>
        </li>
        <li class="">
            <a th:href="@{/products}">
                <span><i class="ri-archive-drawer-fill"></i></span>
                <span class="nav-text">Products</span>
            </a>
        </li>
        <li class="">
            <a th:href="@{/categories}">
                <span><i class="ri-node-tree"></i></span>
                <span class="nav-text">Product Categories</span>
            </a>
        </li>
        <li class="">
            <a th:href="@{/users}">
                <span><i class="ri-user-fill"></i></span>
                <span class="nav-text">Users</span>
            </a>
        </li>
        <li class="logout">
            <form id="formLogout" th:action="@{/logout?logout}" method="post">
                <a href="#" id="submitLogout">
                    <span><i class="ri-logout-circle-line"></i></span>
                    <span class="nav-text">Signout</span>
                </a>
            </form>
        </li>
    </ul>
</div>
<div layout:fragment="content">
    <div class="row">
        <div class="col-xxl-12">
            <div class="promotion d-flex justify-content-between align-items-center">
                <div class="promotion-detail">
                    <h3 class="text-white mb-3">
                        Selamat Datang, [[${#request.userPrincipal.principal.fullName}]]
                    </h3>
                    <p>
                        Digital marketplace for crypto collectibles and non
                        fungable tokens
                    </p>
                    <a class="btn btn-primary me-3">Explore</a><a class="btn btn-secondary">Create</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>