<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Dashboard</title>
</head>
<body>

<div layout:fragment="menu">
    <ul>
        <li class="active">
            <a th:href="@{/}">
                <span><i class="ri-dashboard-fill"></i></span>
                <span class="nav-text">Dashboard</span>
            </a>
        </li>
        <li class="">
            <a th:href="@{/products}">
                <span><i class="ri-archive-drawer-fill"></i></span>
                <span class="nav-text">Products</span>
            </a>
        </li>
        <li class="">
            <a th:href="@{/categories}">
                <span><i class="ri-node-tree"></i></span>
                <span class="nav-text">Product Categories</span>
            </a>
        </li>
        <li class="">
            <a th:href="@{/users}">
                <span><i class="ri-user-fill"></i></span>
                <span class="nav-text">Users</span>
            </a>
        </li>
        <li class="logout">
            <form id="formLogout" th:action="@{/logout?logout}" method="post">
                <a href="#" id="submitLogout">
                    <span><i class="ri-logout-circle-line"></i></span>
                    <span class="nav-text">Signout</span>
                </a>
            </form>
        </li>
    </ul>
</div>
<div layout:fragment="content">
    <div class="row">
        <div class="col-xxl-12">
            <div class="promotion d-flex justify-content-between align-items-center">
                <div class="promotion-detail">
                    <h3 class="text-white mb-3">
                        Selamat Datang, [[${#request.userPrincipal.principal.fullName}]]
                    </h3>
                    <p>
                        Merch BCA dirancang oleh HAI MP 26 yang terdiri dari Firman Abdul Jabar sebagai Project
                        Manager (Ketua),
                        Felix Setiawan, dan Fariz Prasetya Putra sebagai anggota.
                        Aplikasi berbasis web Merch BCA dibangun menggunakan teknologi Springboot, Spring dataJPA,
                        Spring Security, Thymeleaf, MySQL, Lombok, WebJars, Ultraq Thymeleaf, DataTable,
                        OpenWeathermap API, HTML, CSS, JavaScript, dan Bootstrap (Neftify Template)
                    </p>
                    <!-- <a class="btn btn-primary me-3">Explore</a><a class="btn btn-secondary">Create</a> -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="filter-tab">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card items">
                        <div class="card-body">
                            <div class="items-img position-relative">
                                <img src="https://pbs.twimg.com/media/FNeoF-8aMAEJ4Z0?format=jpg&name=900x900" class="img-fluid rounded mb-3" alt="">
                                <img src="https://pbs.twimg.com/media/FNeuZwcaAAALmCF?format=png&name=900x900" class="creator" width="50" alt=""></div>
                            <h4 class="card-title">Firman Abdul Jabar</h4>
                            <p></p>
                            <div class="d-flex justify-content-between">
                                <div class="text-start">
                                    <p class="mb-2">University</p>
                                    <h5 class="text-muted">Lambung Mangkurat University</h5>
                                </div>
                                <div class="text-end">
                                    <p class="mb-2">Birth of Date</p>
                                    <h5 class="text-muted">June 4<sup>th</sup>, 1997</h5>
                                </div>
                            </div>
<!--                            <div class="d-flex justify-content-center mt-3">-->
<!--                                <a href="" class="btn btn-primary">Place a Bid</a>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card items">
                        <div class="card-body">
                            <div class="items-img position-relative">
                                <img src="https://pbs.twimg.com/media/FNexnUUagAc93oV?format=jpg&name=small" class="img-fluid rounded mb-3" alt="">
                                <img src="https://p.kindpng.com/picc/s/86-865864_glasses-discord-emoji-hd-png-download.png" class="creator" width="50" alt=""></div>
                            <h4 class="card-title">Felix Setiawan</h4>
                            <p></p>
                            <div class="d-flex justify-content-between">
                                <div class="text-start">
                                    <p class="mb-2">University</p>
                                    <h5 class="text-muted">Bunda Mulia University</h5>
                                </div>
                                <div class="text-end">
                                    <p class="mb-2">Birth of Date</strong>
                                    </p>
                                    <h5 class="text-muted">October 26<sup>th</sup>, 2001</h5>
                                </div>
                            </div>
<!--                            <div class="d-flex justify-content-center mt-3">-->
<!--                                <a href="" class="btn btn-primary">Place a Bid</a>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card items">
                        <div class="card-body">
                            <div class="items-img position-relative">
                                <img src="https://pbs.twimg.com/media/FNe0uuqUYAMmugF?format=jpg&name=small" class="img-fluid rounded mb-3" alt="">
                                <img src="https://icon-library.com/images/emoji-icon-png/emoji-icon-png-18.jpg" class="creator" width="50" alt=""></div>
                            <h4 class="card-title">Fariz Prasetya Putra</h4>
                            <p></p>
                            <div class="d-flex justify-content-between">
                                <div class="text-start">
                                    <p class="mb-2">University</p>
                                    <h5 class="text-muted">Multi Data Palembang University</h5>
                                </div>
                                <div class="text-end">
                                    <p class="mb-2">Birth of Date</strong>
                                    </p>
                                    <h5 class="text-muted">July 16<sup>th</sup>, 2001</h5>
                                </div>
                            </div>
<!--                            <div class="d-flex justify-content-center mt-3">-->
<!--                                <a href="" class="btn btn-primary">Place a Bid</a>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>