<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>View Products</title>
</head>
<body>

<div layout:fragment="menu">
    <ul>
        <li class="">
            <a th:href="@{/}">
                <span><i class="ri-dashboard-fill"></i></span>
                <span class="nav-text">Dashboard</span>
            </a>
        </li>
        <li class="active">
            <a th:href="@{/products}">
                <span><i class="ri-archive-drawer-fill"></i></span>
                <span class="nav-text">Products</span>
            </a>
        </li>
        <li class="">
            <a th:href="@{/categories}">
                <span><i class="ri-node-tree"></i></span>
                <span class="nav-text">Product Categories</span>
            </a>
        </li>
        <li class="">
            <a th:href="@{/users}">
                <span><i class="ri-user-fill"></i></span>
                <span class="nav-text">Users</span>
            </a>
        </li>
        <li class="logout">
            <form id="formLogout" th:action="@{/logout?logout}" method="post">
                <a href="#" id="submitLogout">
                    <span><i class="ri-logout-circle-line"></i></span>
                    <span class="nav-text">Signout</span>
                </a>
            </form>
        </li>
    </ul>
</div>
<div layout:fragment="content">
    <div class="card top-bid" th:object="${product}">
        <div class="card-body">
            <h3><a th:href="@{/products}"><i class="ri-arrow-go-back-line" style="font-size:large"></i> Back</a></h3>
            <h2 class="mb-3">Detail Product</h2>
            <div class="row align-items-center">
                <div class="col-md-6">
                    <img th:src="*{image}" class="img-fluid rounded" th:alt="*{name}"/>
                </div>
                <div class="col-md-6">
                    <h3 th:text="*{name}">Product Name</h3>
                    <small>PRODUCT NUMBER <span th:text="*{product_numb}">id</span></small>
                    <div class="d-flex justify-content-between mt-5 mb-3">
                        <div class="text-start">
                            <p class="mb-2">Category</p>
                            <h5 class="text-muted" th:text="*{category}">category</h5>
                        </div>
                        <div class="text-end">
                            <p class="mb-2">Stock</p>
                            <h5 class="text-muted" th:text="*{stock}">stock</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
